*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
display:flex;
background:#0B1120;
color:white;
}

.sidebar{

width:240px;

height:100vh;

background:#111827;

padding:25px;

}

.logo{

font-size:26px;

font-weight:bold;

margin-bottom:40px;

text-align:center;

}

.sidebar a{

display:block;

padding:15px;

margin-bottom:8px;

border-radius:10px;

cursor:pointer;

text-decoration:none;

color:white;

transition:.3s;

}

.sidebar a:hover,
.active{

background:#2563EB;

}

.main{

flex:1;

padding:30px;

}

.topbar{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}

.status{

background:#22C55E;

padding:8px 15px;

border-radius:8px;

}

.cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

margin-bottom:30px;

}

.card{

background:#111827;

padding:25px;

border-radius:15px;

transition:.3s;

}

.card:hover{

transform:translateY(-5px);

}

.card h3{

margin-bottom:15px;

color:#94A3B8;

}

.panel{

background:#111827;

padding:25px;

border-radius:15px;

margin-top:25px;

}

.panel h2{

margin-bottom:20px;

}

.panel input{

width:100%;

padding:14px;

margin:12px 0;

border:none;

outline:none;

border-radius:10px;

background:#1E293B;

color:white;

}

button{

padding:14px;

border:none;

border-radius:10px;

background:#2563EB;

color:white;

cursor:pointer;

margin-top:10px;

transition:.3s;

}

button:hover{

transform:scale(1.03);

}

.buttons{

display:flex;

gap:15px;

margin-top:10px;

}
