*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#0B1120;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

color:#fff;

}

.container{

width:100%;

display:flex;

justify-content:center;

}

.card{

width:400px;

background:#111827;

padding:35px;

border-radius:18px;

box-shadow:0 0 30px rgba(0,0,0,.4);

text-align:center;

}

h1{

margin-bottom:15px;

font-size:30px;

}

p{

color:#94A3B8;

margin-bottom:20px;

}

input{

width:100%;

padding:14px;

margin:10px 0;

border:none;

outline:none;

border-radius:10px;

background:#1E293B;

color:white;

}

button,.btn{

display:block;

width:100%;

padding:14px;

margin-top:15px;

border:none;

border-radius:10px;

background:#3B82F6;

color:white;

text-decoration:none;

cursor:pointer;

transition:.3s;

}

button:hover,.btn:hover{

transform:scale(1.03);

}

.green{

background:#22C55E;

}

.menu{

margin-top:25px;

display:flex;

flex-direction:column;

gap:10px;

}

.menu a{

color:#60A5FA;

text-decoration:none;

}

a{

color:#60A5FA;

}
